@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Cores*/
    --cor-1: #ff090946;
    --cor-2: #55555581;
    --cor-3: #33333381;
    --cor-4: #f4f4f481;
    --cor-5: #020202be;
    --cor-6: #e8cbe99f;
    /*Fontes*/
    --fonte-principal: Concert One, cursive;
    --fonte-secundária: Japan Rich, sans-serif;
    --fonte-terciária: Momo Signature, sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-4);
    color: var(--cor-5);
}

header {
    background: url(imagens/head.png) no-repeat center center;
    background-size: cover;
    background-size: auto;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.308);
    color: var(--cor-5);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: var(--fonte-terciária);
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    margin-bottom: 20px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: var(--cor-2);
    margin-right: 15px;
}

nav a:hover {
    color: var(--cor-5);
    text-decoration: wavy underline var(--cor-1);
}

main {
    padding: 20px;
    background-color: var(--cor-6);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

main h2 {
    font-family: var(--fonte-secundária);
    font-size: 28px;
    margin-bottom: 20px;
    text-decoration: wavy underline var(--cor-1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

strong {
    font-family: var(--fonte-terciária);
    color: var(--cor-5);
    text-decoration: wavy underline var(--cor-1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: bold;

}


.strong1 {
    color: white
}

.texto1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: var(--fonte-principal);
    background-image: url(imagens/fuji2sakura.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.308);
    border-radius: 3px;
    margin-bottom: 20px;
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2em;
    position: relative;
    color: white;
}

.texto1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8));
    border-radius: 3px;
}

.texto1 * {
    position: relative;
    z-index: 1;
}

.texto2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: var(--fonte-principal);
    background-image: url(imagens/fuji2sakura.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.308);
    border-radius: 3px;
    margin-bottom: 20px;
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2em;
    position: relative;
    color: white;
}

.texto2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8));
    border-radius: 3px;
}

.texto2 * {
    position: relative;
    z-index: 1;
}

footer {
    background-color: var(--cor-2);
    color: var(--cor-4);
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}